body {
    margin-bottom: 20px;
}

.label-area-fill {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding-left: 40px;
    margin-top: 10px;
}

.radiocontainer {
    padding: 10px;
}

.radio-row {
    height: 50px;
    border: lightgray 1px dotted;
}

input[type="radio"] {
    transform: scale(1.5);
    margin-top: 20px;
}

input[type="radio"]:checked + .label-area-fill {
    box-shadow: 0 0 0 2px lightseagreen;
}